<h1 style="color:blue"> 
    Log In Usuarios 
</h1> 
<p> @ViewData["MENSAJE"]</p>
<form method="post"> 

    <label>Email</label> 
    <input type="text" name="Email" class="form-control"/> 

    <label>Password</label> 
    <input type="text" name="password" class="form-control"/> 

    <button class="btn btn-info"> 
        Log In 
    </button> 

</form> 

<h2 style="color:red"> 
    @ViewData["MENSAJE"] 
</h2> 
